<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>GST Home</title>
</head>

<body>
  <h4>GST BILLING<h4>
    <div class="links">
      <h4> PURCHASE </h4>
  <a href="{% url 'purchase:vendor_add' %}">Add Vendor</a> <br>
  <a href="{% url 'purchase:add_Products' %}">Add Product</a><br>
  <a href="{% url 'purchase:add_Tax' %}">Add Tax</a><br>
  <a href="{% url 'purchase:purchase_invoice' %}">Create A Purchase Invoice</a><br>
  <a href="{% url 'purchase:salesstatement_add' %}">Add Sales Statement</a><br>
  <a href="{% url 'purchase:view_sales_statement_add' %}">View Sales Statement</a>

  </div>

  <div class="links">
    <h4> TOKEN </h4>
    <a href="{% url 'tokenapp:worker_add' %}">Add a Worker</a>
    <a href="{% url 'tokenapp:log_attendence' %}">Log Attendence</a>
  </div>

</body>

</html>