<!DOCTYPE html> {% load static widget_tweaks%}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>View Sales Statement</title>
  <link rel="stylesheet" href="{% static 'css/purchase.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery_ui.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>

<body>

  <section style="text-align:center">
    <h1>View Sales Statement</h1>
    <hr>
    <br> {% block content %}
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        Select From: <input class="ui-button ui-widget ui-corner-all" type="submit" value="from" id="datepicker-frm">

        <br> <br><br><br>Select End
        <input class="ui-button ui-widget ui-corner-all" type="submit" value="to" id="datepicker-to">

        <form method="POST" id="ViewPurchaseStatementForm" novalidate>
          {% csrf_token %}
          <div style="text-align:center;min-height:100px">

            <div style="display:none">
              {% render_field form.from_date%}
            </div>
            <div style="display:none">
              {% render_field form.end_date class+="form-control " %}
            </div>
          </div>
          <button type="submit" class="save btn btn-default">View</button>
        </form>
      </div>
      <div class="col-md-2">
      </div>
    </div>



    <!-- <form method="POST" id="ViewPurchaseStatementForm" novalidate> -->
    <!-- {% csrf_token %} -->
    <!-- <table> -->
    <!-- {{ form.as_table }} -->
    <!-- </table> -->

    <!-- <button type="submit" class="save btn btn-default">View</button> -->
    <!-- </form> -->

    </secton>

    {% endblock %}
    <script src="https://code.jquery.com/jquery-1.12.4.js" charset="utf-8"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" charset="utf-8"></script>
    <script type="text/javascript">
      // $(function() {
      //   $("#datepicker").datepicker();
      // });

      // $(function() {
      //   $("#datepicker-yr").datepicker({
      //     showWeek: true,
      //     firstDay: 1
      //   });
      // });

      $(function() {
        var dateFormat = "mm/dd/yy",
          from = $("#datepicker-frm")
          .datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            numberOfMonths: 3
          })
          .on("change", function() {
            to.datepicker("option", "minDate", getDate(this));
            document.getElementById("id_from_date").value = $("#datepicker-frm").val();
          }),
          to = $("#datepicker-to")
          .datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            numberOfMonths: 3
          })
          .on("change", function() {
            from.datepicker("option", "maxDate", getDate(this));
            document.getElementById("id_end_date").value = $("#datepicker-to").val();
          });

        function getDate(element) {
          var date;
          try {
            date = $.datepicker.parseDate(dateFormat, element.value);
          } catch (error) {
            date = null;
          }

          return date;
        }
      });
    </script>
  </section>
</body>

</html>